/* Styles for the accordion */
.accordion {
    max-width: 800px;
    margin: 0 auto;
}

.accordion-btn {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-btn:hover {
    background-color: #ddd;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.panel p {
    margin-top: 0;
}

.panel.show {
    display: block;
}
