/* Estilos para el cuerpo de la página */
body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #ffffff; /* Hacer todo el texto blanco */
    background-image: url('https://sirpeca.github.io/imagenes/Back-tryhackme.jpg'); /* este fondo si que va */
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la posición del fondo */
}

/* Estilos para el contenedor de fondo */
.background-container {
    background-image: url('https://sirpeca.github.io/imagenes/Back-tryhackme.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fija la posición del fondo */
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana del navegador */
    overflow: auto; /* Permite el desplazamiento del contenido si es necesario */
    position: relative; /* Establece una posición relativa para permitir el posicionamiento absoluto del contenido */
}

/* Otros estilos para el contenido de la página */
/* Por ejemplo, estilos para tus títulos, desplegables, etc. */

/* Estilos para el contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para las columnas */
.column {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: left; /* Cambiamos el alineamiento del texto a la izquierda */
}

/* Estilos para los títulos principales */
h1 {
    margin-top: 0;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 40px; /* Aumentar tamaño del título */
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff; /* Hacer el texto blanco */
    margin-bottom: 20px;
    font-style: Protest Guerrilla; /* Agregar estilo gótico */
}

/* Estilos para los títulos secundarios */
h2 {
    cursor: pointer;
    color: #0366d6; /* Cambiar color de h2 y h3 */
    transition: color 0.3s ease; /* Agregamos transición para suavizar el cambio de color */
    font-family: 'Protest Guerrilla', sans-serif; /* Aplicar la fuente Protest Guerrilla */
}

/* Estilos para los títulos terciarios */
h3 {
    cursor: pointer;
    color: #40E0D0; /* Cambiar color de h2 y h3 */
    transition: color 0.3s ease; /* Agregamos transición para suavizar el cambio de color */
    font-family: 'Kanit', sans-serif; /* Aplicar la fuente Kanit */
}

/* Estilos para los títulos RE terciarios */
h4 {
    cursor: pointer;
    color: #8a2be2 !important; /* Color lila */
    transition: color 0.3s ease; /* Agregamos transición para suavizar el cambio de color */
    font-family: 'Kanit', sans-serif; /* Aplicar la fuente Kanit */
    font-weight: normal !important; /* Eliminar negrita */
}

/* Estilos para prompt */
.prompt {
    font-family: monospace;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
}

/* Estilos para el enlace de GitHub */
.github-link {
    position: fixed !important; /* Lo posiciona de forma fija en la ventana del navegador */
    bottom: 0 !important; /* Lo coloca en la parte inferior de la ventana */
    left: 0 !important; /* Lo coloca en el lado izquierdo de la ventana */
    margin: 20px !important; /* Añade un margen para darle espacio al contenido */
}

/* Estilos para los detalles que se ocultan */
.details {
    display: none;
    margin-top: 10px;
    text-align: left;
}

/* Estilos para los párrafos */
p {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Estilos para las imágenes */
.image {
    max-width: 100%;
    max-height: 15%; /* Altura máxima del 20% del viewport */
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el banner */
.banner {
    width: 100%;
    max-height: 15%; /* Altura máxima del 20% del viewport */
    text-align: center;
    margin-bottom: 40px;
}

/* Estilos para los íconos sociales */
.social-icons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #1abc9c;
    transition: color 0.3s ease; /* Agregamos transición para suavizar el cambio de color */
}

.social-icons a:hover {
    color: #0366d6; /* Cambiamos el color al pasar el cursor */
}

/* Media Query para dispositivos móviles con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */
    body {
        font-size: 14px; /* Ajuste de tamaño de fuente para dispositivos móviles */
    }
    .container {
        width: 100%; /* Ajuste del ancho al 100% para dispositivos móviles */
    }
    .column {
        width: 100%; /* Ajuste del ancho al 100% para dispositivos móviles */
    }
    h1 {
        font-size: 40px; /* Ajuste de tamaño de fuente para títulos principales en dispositivos móviles */
    }
}
